{
    "root": true,
    "env": { "browser": true, "es2020": true },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "plugin:import/recommended",
        "plugin:jsx-a11y/recommended",
        "plugin:@typescript-eslint/recommended",
        "eslint-config-prettier"
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "plugins": ["react", "react-hooks", "react-refresh"],
    "ignorePatterns": ["dist", ".eslintrc"],
    "parser": "@typescript-eslint/parser",
    "rules": {
        "react-refresh/only-export-components": ["warn", { "allowConstantExport": true }],
        "react/react-in-jsx-scope": "off",
        "no-unused-vars": [
            "error",
            {
                "vars": "all",
                "args": "after-used",
                "ignoreRestSiblings": true,
                "argsIgnorePattern": "^_"
            }
        ]
    }
}
